h1{
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
h2{
    background-color: black;
    color: white;
    text-align: center;

}
h3{ font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text-size-adjust: 600px;
    color: red;

}
h4{ font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text-size-adjust: 600px;
    color: red;

}
h5{ font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text-size-adjust: 1600px;
    color: red;
}
body{
    
}